$color1: #e72929;
$color2: #af1313;
$color3: white;
$color4: #ff4d4d;
$color5: whitesmoke;
$color6: gray;
$color7: #414141;
$color8: #f1f1f1;
$color9: blue;
$color10: #f0f0f0;
$color11: black;
$color12: aliceblue;
$color13: green;
$color14: #616161;
$color15: #ffbbbb;
$color16: #e4e4e4;
$color17: lightgray;
