@import '../../../assets/scss/color';

header {
    position: relative;
    background: $color3;
    padding: 0;
    border: 1px solid $color1;
}

a {
    color: $color2;

    &:hover {
        background: $color1;
        color: $color3;
        cursor: pointer;
    }

    &.logo {
        font-weight: 900;
        padding: 1rem;
    }

    span {
        background: $color4;
        color: $color3;
        padding: 0.1rem 0.45rem;
        border-radius: 100rem;
    }
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;

    a {
        padding: 1rem;
        display: inline-block;
    }
}

.menu-container {
    position: relative;

    &:hover {
        .menu {
            display: block;
        }
    }

    .menu {
        position: absolute;
        z-index: 1;
        background: $color5;
        display: none;

        a{
            width: 100%;
            min-width: 8rem;
        }
    }
}