@import '../../../../assets/scss/color';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem;

    &>* {
        min-width: 25rem;
        max-width: 40rem;
    }

    img {
        flex: 1 0;
        object-fit: cover;
        height: 30rem;
        margin: 1rem;
        border-radius: 3rem;
    }

    .details {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex: 1 0;
        border: 3rem;
        padding: 2rem;
        color: $color11;
        margin-left: 1rem;

        .header {
            display: flex;
            justify-content: space-between;

            .name {
                font-weight: bold;
                font-size: 2rem;
            }

            .favorite {
                color: $color1;
                font-size: 2.5rem;

                &.not {
                    color: $color6;
                }
            }
        }

        .rating {
            .origins {
                display: flex;
                flex-wrap: wrap;
                margin: 1rem 0;

                span {
                    padding: 0.5rem;
                    font-size: 1.2rem;
                    margin: 0.5rem 0.5rem 0.5rem 0;
                    border-radius: 2rem;
                    background-color: $color12;
                }
            }

            .tags {
                flex-wrap: wrap;
                display: flex;

                a {
                    padding: 0.3rem 1rem;
                    margin: 0.2rem 0.15rem;
                    border-radius: 10rem;
                    background-color: $color10;
                    font-weight: bold;
                    color: $color9;
                }
            }

            .cook-time {
                margin-top: 1rem;

                span {
                    padding: 0.6rem 2rem 0.6rem 0;
                    border-radius: 10rem;
                    font-size: 1.3rem;
                }
            }

            .price {
                font-size: 1.8rem;
                margin: 2rem 2rem 2rem 0;
                color: $color13;

                &::before {
                    content: "Price: ";
                    color: $color1;
                }
            }

            button {
                background-color: $color1;
                color: $color3;
                border: none;
                font-size: 1.2rem;
                padding: 1rem;
                border-radius: 10rem;
                outline: none;

                &:hover {
                    opacity: 0.9;
                    cursor: pointer;
                }
            }
        }
    }
}